numpy==2.2.5 ; python_version >= "3.8"  # Updated to Python 3.12-compatible version
biopython==1.69 ; python_version >= "3.8"
fastapi==0.115.12 ; python_version >= "3.8"
uvicorn==0.34.2 ; python_version >= "3.8"
python-multipart==0.0.20 ; python_version >= "3.8"
pandas==2.2.3 ; python_version >= "3.8"
pydantic==2.11.4 ; python_version >= "3.8"
requests==2.32.3 ; python_version >= "3.8"
perf_ssr==0.4.8 ; python_version >= "3.8"
plotly==6.0.1 ; python_version >= "3.8"
kaleido ; python_version >= "3.8"
plotly-upset-hd==0.0.2 ; python_version >= "3.8"
typer==0.15.3 ; python_version >= "3.8"
rich==14.0.0 ; python_version >= "3.8"
rich-click==1.8.8 ; python_version >= "3.8"
argcomplete==3.6.2 ; python_version >= "3.8"